<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_agriculture_advisor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_agriculture_advisor"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgricultureAdvisoryApp">

        <meta-data
            android:name="com.google.android.gms.tflite.MIN_APK_VERSION"
            android:value="1" />

        <activity
            android:name="s3605807.vamshinath.agricultureadvisoryapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AgricultureAdvisoryApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>